src/ws/PaysWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://localhost:8080/services/ws/"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  targetNamespace="http://localhost:8080/services/ws/">
    <wsdl:types>
        <xs:schema xmlns:ax22="http://metier/xsd" attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://localhost:8080/services/ws/">
            <xs:import namespace="http://metier/xsd"/>
            <xs:element name="getPays">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPaysResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:Pays"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="obtainListePays">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="obtainListePaysResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax22:Pays"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://metier/xsd">
            <xs:complexType name="Pays">
                <xs:sequence>
                    <xs:element minOccurs="0" name="nbHabitants" type="xs:long"/>
                    <xs:element minOccurs="0" name="nomCapitale" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="nomPays" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getPaysRequest">
        <wsdl:part name="parameters" element="ns:getPays"/>
    </wsdl:message>
    <wsdl:message name="getPaysResponse">
        <wsdl:part name="parameters" element="ns:getPaysResponse"/>
    </wsdl:message>
    <wsdl:message name="obtainListePaysRequest">
        <wsdl:part name="parameters" element="ns:obtainListePays"/>
    </wsdl:message>
    <wsdl:message name="obtainListePaysResponse">
        <wsdl:part name="parameters" element="ns:obtainListePaysResponse"/>
    </wsdl:message>
    <wsdl:portType name="PaysWebServiceServicePortType">
        <wsdl:operation name="getPays">
            <wsdl:input message="ns:getPaysRequest" wsaw:Action="urn:getPays"/>
            <wsdl:output message="ns:getPaysResponse" wsaw:Action="urn:getPaysResponse"/>
        </wsdl:operation>
        <wsdl:operation name="obtainListePays">
            <wsdl:input message="ns:obtainListePaysRequest" wsaw:Action="urn:obtainListePays"/>
            <wsdl:output message="ns:obtainListePaysResponse" wsaw:Action="urn:obtainListePaysResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PaysWebServiceServiceSoap11Binding" type="ns:PaysWebServiceServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getPays">
            <soap:operation soapAction="urn:getPays" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtainListePays">
            <soap:operation soapAction="urn:obtainListePays" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PaysWebServiceServiceSoap12Binding" type="ns:PaysWebServiceServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getPays">
            <soap12:operation soapAction="urn:getPays" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtainListePays">
            <soap12:operation soapAction="urn:obtainListePays" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PaysWebServiceServiceHttpBinding" type="ns:PaysWebServiceServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getPays">
            <http:operation location="getPays"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtainListePays">
            <http:operation location="obtainListePays"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PaysWebServiceService">
        <wsdl:port name="PaysWebServiceServiceHttpSoap11Endpoint" binding="ns:PaysWebServiceServiceSoap11Binding">
            <soap:address location="http://localhost:8080//services/ws/PaysWebService"/>
        </wsdl:port>
        <wsdl:port name="PaysWebServiceServiceHttpSoap12Endpoint" binding="ns:PaysWebServiceServiceSoap12Binding">
            <soap12:address location="http://localhost:8080//services/ws/PaysWebService"/>
        </wsdl:port>
        <wsdl:port name="PaysWebServiceServiceHttpEndpoint" binding="ns:PaysWebServiceServiceHttpBinding">
            <http:address location="http://localhost:8080//services/ws/PaysWebService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
